.floating-chat-header{
    position: absolute;
    margin: 2.5rem auto;
    width: 30%;
    border-radius: 20rem;
}

.chat-header {
    padding: 10px;
    background-color: #282c34;
    color: white;
}

.chat-header>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 239, 245);
    padding: 16px;
}