.message-list {
  max-width: 500px;
  width: 100%;
}

.message-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5rem;
  border-bottom: 1px solid #eeeeee;
}

.user,
.date {
  font-size: 1rem;
  color: #888888;
}

.date {
  margin-left: 1rem;
}
.user {
  min-width: 120px;
  margin-right: -1rem;
  margin-left: -3rem;
}

.message {
  flex-grow: 1;
}

.input {
  font-family: inherit;
}
