.profile-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info {
  margin-top: 2rem;
  width: 50%;
}

.profile-info .user-info {
  display: flex;
  justify-content: space-between;
}

.profile-info .user-recipes {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profile-info .user-recipes ul {
  margin: 1rem 2rem;
}

.profile-statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 2rem;
}

.profile-bookmarks {
  margin-top: 2rem;
  width: 50%;
}

.profile-button {
  width: 100%;
  height: 0;
  z-index: 1;
}

.profile-img {
  width: 100%;
  display: block;
  height: 20rem;
  object-fit: cover;
}

.profile-title {
  position: relative;
  transform: translateY(-50%) skewY(-5deg);
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  box-decoration-break: clone;
  padding: 1.3rem;
  background: #ffdf59;
}

.profile-subtitle {
  display: inline-block;
  font-size: 2rem;
  font-family: "Lato";
  text-align: center;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 0.5rem 2rem;
  background-image: linear-gradient(to right bottom, #e9d5cd, #ffa751);
}

.book-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.book-btn {
  width: auto;
  padding: 0.5rem 1rem;
}

.text-space {
  margin: 1rem;
}
