.body__continer {
  margin: 0rem 7rem 0rem 7rem;
  display: flex;
}
.body__result-continer {
  flex: 30%;
  width: 100%;
  background-color: aliceblue;
}
.body__recipe-continer {
  flex: 70%;
  width: 100%;
  background-color: rgb(241, 238, 238);
}
