.recipe {
  flex-direction: column;
  background-color: white;
}

.recipe__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
  background-image: linear-gradient(to right bottom, #e0ffff, #87cefa);
  background-size: cover;
  transform: skewY(-40deg) translateY(-39rem);
  transform: skewY(7deg);
}
