.fav-recipes__contenier {
  width: 100rem;
  border-radius: 0;
}
.fav-recipes__recipe {
  margin: 5rem;
}
.fav-recipes__header {
  font-size: 3rem;
  padding-top: 3rem;
}
.fav-recipes__header h2:hover {
  color: #f4aa8a;
}
