
  .container-top h1 {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    column-gap: 20rem;
    font-size: 1.7rem;
    padding: auto;
  }
  
  .weather-title {
    margin: 10px 0;
  }
  
  .paragraph {
    font-size: 1.2rem;
    color: #cccbd9;
  }
  
  /* mid */
  
  .weather-temp-main {
    font-weight: bold;
    font-size: 4rem;
  }
  
  .weather-tepm {
    vertical-align: text-top;
    font-size: 2.7rem;
    color: #f8c514;
    font-weight: bold;
  }
  
  
  /* bot
  
  .weather-icon-location {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #f8c514;
  } */
  