.form {
  font-family: inherit;
  width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: aliceblue;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: stretch;
  position: relative;
}

.formRow input {
  align-self: flex-end;
}

input {
  text-align: center;
  font-size: 1.5rem;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.form input:focus {
  outline: none;
  border-color: aliceblue;
  background: #f6dbfc;
}

.invalid input:focus {
  outline: none;
  border-color: red;
  background: #f6dbfc;
}

p {
  margin: 1rem;
  font-size: 2rem;
}

/* .failPassword input:focus {
  border-color: red;
  background: #fbdada;
} */
/* 
.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {

  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
  display: block;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
} */
